.content-table {
	border-collapse: collapse;
	margin: 30px auto;
	top: 500px;
	font-size: 0.9cm;
	min-width: 400px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 15); 
}
.content-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
		font-weight: bold;
}
th, td {
	padding: 12px 15px;
}
.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
	border-bottom: #98002e;
}
.content-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
