<<<<<<< HEAD
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
header {
  background-color: #1e1f24;
  height: 50px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; /* keeps left and right sections apart */
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

#button {
  margin: 5px 15px;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
}

button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

#hub {
  color: white;
  margin-left: -13px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 18px;
}

#navLinks {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

#navLinks a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

#navLinks a:hover {
  text-decoration: grey;
}


.Image img {
    object-fit: cover;
    
    max-height: 100%;
}

.WorkSpace {
  background-image: url('Laptop.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.WorkSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WorkSpace .text1 {
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WorkSpace .text2 {
    color: white;
    font-size: 20px;
    font-family: -apple-system;
}
.a1 {
    color:blue;
    text-shadow: 2px 0 20px blue;
}
.a2{
    color:red;
    text-shadow: 2px 0 20px red;
}
.a3 {
    color:green;
    text-shadow: 2px 0 20px green;
}
.writeup {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 

.btn {
    margin-top: 30px;
    color:white;
    padding: 10px;
    font-size:10px;
    font-family: sans-serif;
    border: 0px solid black;
    border-radius: 4px;
    background-color: #1e1f24;
}
.btn:hover {
    background-color:black ;
}

.last {
    height: 800px;
    background-color: antiquewhite;
    display: flex;
    align-items: ;
    justify-content: right;
}

.text2a {
    font-size: 23px;
    padding-right: 1120px;
    margin-top: 300px;
    font-weight: bold;
}
.text2b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 35%; 
    color: #0b0b0c;
}
 .box1 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: 130px;
    margin-top: 80px;
}
.h2 {
    padding-left: 10px;
    font-size: 18px;
    font-family: Gill Sans;
    margin-top: 20px;
}
.box1a {
    padding-top: 25px;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 20px 0px 10px;
    line-height: 20px;
   
}

.h3 {
    padding-left: 8px;
    font-size: 18px;
    font-family: Gill Sans;
    margin-top: 10px;
}
.box2a {
    padding-top: 20px;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 20px 0px 10px;
    line-height: 20px;
}

.box2 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: -530px;
    margin-top: 220px;
}


.box3 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: 130px;
    margin-top: 380px;
}



.box4 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: -1050px;
    margin-top: 540px;
}

footer {
    height: 80px;
    background-color: #0b0b0c;
    
}
 
footer ul {
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
}


footer a {
        font-size: 12px;
        padding-left: 0px;
        color: white;
        text-decoration: none;
    
}
=======
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
header {
  background-color: #1e1f24;
  height: 50px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; /* keeps left and right sections apart */
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

#button {
  margin: 5px 15px;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
}

button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

#hub {
  color: white;
  margin-left: -13px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 18px;
}

#navLinks {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

#navLinks a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

#navLinks a:hover {
  text-decoration: grey;
}


.Image img {
    object-fit: cover;
    
    max-height: 100%;
}

.WorkSpace {
  background-image: url('Laptop.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.WorkSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WorkSpace .text1 {
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WorkSpace .text2 {
    color: white;
    font-size: 20px;
    font-family: -apple-system;
}
.a1 {
    color:blue;
    text-shadow: 2px 0 20px blue;
}
.a2{
    color:red;
    text-shadow: 2px 0 20px red;
}
.a3 {
    color:green;
    text-shadow: 2px 0 20px green;
}
.writeup {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 

.btn {
    margin-top: 30px;
    color:white;
    padding: 10px;
    font-size:10px;
    font-family: sans-serif;
    border: 0px solid black;
    border-radius: 4px;
    background-color: #1e1f24;
}
.btn:hover {
    background-color:black ;
}

.last {
    height: 800px;
    background-color: antiquewhite;
    display: flex;
    align-items: ;
    justify-content: right;
}

.text2a {
    font-size: 23px;
    padding-right: 1120px;
    margin-top: 300px;
    font-weight: bold;
}
.text2b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 35%; 
    color: #0b0b0c;
}
 .box1 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: 130px;
    margin-top: 80px;
}
.h2 {
    padding-left: 10px;
    font-size: 18px;
    font-family: Gill Sans;
    margin-top: 20px;
}
.box1a {
    padding-top: 25px;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 20px 0px 10px;
    line-height: 20px;
   
}

.h3 {
    padding-left: 8px;
    font-size: 18px;
    font-family: Gill Sans;
    margin-top: 10px;
}
.box2a {
    padding-top: 20px;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 20px 0px 10px;
    line-height: 20px;
}

.box2 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: -530px;
    margin-top: 220px;
}


.box3 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: 130px;
    margin-top: 380px;
}



.box4 {
    background-color:white;
    border: 2px solid white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.7);
    width: 200px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    margin-right: -1050px;
    margin-top: 540px;
}

footer {
    height: 80px;
    background-color: #0b0b0c;
    
}
 
footer ul {
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
}


footer a {
        font-size: 12px;
        padding-left: 0px;
        color: white;
        text-decoration: none;
    
}
>>>>>>> 273c510 (Saved local changes before pulling)
